---
permalink: /
layout: default
author_profile: false
redirect_from:
- /about/
- /about.html
---

{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
{% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}
{% assign avatar = author.avatar | prepend: "/images/" | prepend: base_path %}


<style>
    .title {
        font-size: 3rem;
        margin-top: 60px;
    }

    .subtitle {
        font-size: 1.5rem;
        margin-bottom: 40px;
    }

    .body {
        width: 70%;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 241, 223);
    }

    .text-avatar-container {
        display: flex;
        gap: 2%;
    }

    @media (max-width: 1100px) {
        .text-avatar-container {
            flex-direction: column-reverse;
        }
    }
</style>

<center>
    <div class="body">
        <div class="title">
            Chenyan (Victor) Zhao / 赵宸言
        </div>

        <div class="subtitle">
            Welcome!
        </div>

        <div class="text-avatar-container">
            <div style="flex-grow: 1;">
                <p>
                    I am a second year Master of Science student
                    at the University of Illinois Urbana-Champaign (UIUC)
                    in the Siebel School of Computing and Data Science.
                    I also earned my Bachelor's degree here
                    majoring in Mathematics & Computer Science.
                    I am a part of the <b>Computing Education Research Area</b>,
                    and my advisor is the amazing <a href="https://mfsilva.web.illinois.edu/">Mariana Silva</a>.
                </p>
                <p>
                    My interest lies in building educational tools to improve student learning,
                    with autograding tools being the main focus.
                    My current research involves building and evaluating an
                    <b>Automatic Short Answer Grading (ASAG)</b> system to
                    promote instant feedback in various open-ended response problems,
                    and studying how and when the feedback can be helpful.
                    I am employed half-time as a software developer in
                    <a href="https://www.prairielearn.com/">PrairieLearn</a>,
                    where I am responsible for developing the ASAG system.
                    I am also interested in understanding the perspectives of students,
                    teaching assistants, and instructors on using potentially unreliable systems for assessment.
                </p>
            </div>
            <div class="author__avatar" style="flex: 1; margin-right: 2%;">
                <img src="{{ avatar }}" alt="{{ author.name }}" style="object-fit: contain; max-width: 300px;">
            </div>
        </div>
    </div>
</center>